*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


.header{
      width: 100%;
      background: brown;
}

.box{
    width: 100%;
    height: 100vh;
    background: orange;
}


.item1{
    padding: 10px;
    width: 300px;
    height: 200px;
}

.white1{
      width: 100%;
      height: 50px;
      background: white;
}

.blue1{
    width: 100%;
    height: 50px;
    background: blue;
}

.red1{
    width: 100%;
    height: 50px;
    background:red;
}



.item2{
    padding: 10px;
    width: 300px;
    height: 200px;
}


.blue2{
    width: 100%;
    height: 90px;
    background: blue;
}

.yellow2{
    width: 100%;
    height: 90px;
    background: yellow;
}


.item3{
    padding: 10px;
    width: 300px;
    height: 200px;
}



.white3{
    width: 100%;
    height: 90px;
    background:white;
}

.red3{
    width: 100%;
    height: 90px;
    background:red;
}


.item4{
    padding: 10px;
    width: 300px;
    height: 200px;
}

.red4{

        width: 100%;
        height: 50px;
        background:red;

}


.white4{
    width: 100%;
    height: 50px;
    background:white;
}


.green4{
    width: 100%;
    height: 50px;
    background:green;
}


h1{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
   
}










